<app-navigation-bar></app-navigation-bar>
<h1 style="text-align: center; margin-top: 30px;">Hello {{ user?.Username }}! </h1>
<div style=" position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); display: flex; justify-content: center;" >
  <mat-card class='user-info' >
    <mat-card-header>
      <mat-card-title>Your Profile Information</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <h3><b>Username: </b>{{ this.user?.Username }}</h3>
      <h3><b>Email: </b>{{ user?.Email }}</h3>
      <h3><b>Birthday: </b>{{ user?.Birthday | date : 'mediumDate' }}</h3>
      <br>
      <button 
        class='profile-btn' 
        mat-raised-button 
        (click)="openEditUserProfile()"
        style='margin-right: 10px;' color="primary">
        Edit Profile
      </button>
      <button class='profile-btn' color="warn" mat-raised-button (click)="deleteProfile()">
        Delete Profile
      </button>
    </mat-card-content>
  </mat-card>
</div>

